name: Release

permissions:
  contents: write

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          fetch-depth: 0

      - name: install pnpm
        uses: pnpm/action-setup@v2

      - name: set node
        uses: actions/setup-node@3235b876344d2a9aa001b8d1453c930bba69e610 # v3
        with:
          node-version: lts/*
          cache: pnpm

      - name: install dependencies
        run: pnpm install

      - name: generate changelog
        run: npx changelogithub
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

      - name: build
        run: pnpm run build

      - name: publish
        run: cd dist && npx vsce publish -p ${{secrets.VSCE_TOKEN}} --no-dependencies
        env:
          VSCE_TOKEN: ${{secrets.VSCE_TOKEN}}
